<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5050.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1717},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>AButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{731,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{731,99}}</string>
                <key>sourceSize</key>
                <string>{733,101}</string>
            </dict>
            <key>AchievementsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1456},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>AdmitOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,228},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>AlertBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{651,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,347}}</string>
                <key>sourceSize</key>
                <string>{651,347}</string>
            </dict>
            <key>BButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{731,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{731,99}}</string>
                <key>sourceSize</key>
                <string>{733,101}</string>
            </dict>
            <key>BGMOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1750},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>BGMOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1743},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>BackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1538},{97,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,120}}</string>
                <key>sourceSize</key>
                <string>{97,120}</string>
            </dict>
            <key>BlankTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{551,242}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{551,242}}</string>
                <key>sourceSize</key>
                <string>{553,244}</string>
            </dict>
            <key>CButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{731,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{731,99}}</string>
                <key>sourceSize</key>
                <string>{733,101}</string>
            </dict>
            <key>CategoryReviewBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1296},{317,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,322}}</string>
                <key>sourceSize</key>
                <string>{317,322}</string>
            </dict>
            <key>Combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1296},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>Combo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1356},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1672},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1625},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1578},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1591},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1544},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1497},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1450},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>Combo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1403},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>ConfirmButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1086},{97,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,122}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>Credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1210},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>DButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{731,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{731,99}}</string>
                <key>sourceSize</key>
                <string>{733,101}</string>
            </dict>
            <key>DeleteButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1125},{83,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,105}}</string>
                <key>sourceSize</key>
                <string>{83,105}</string>
            </dict>
            <key>DenyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,128},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>EasyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,474},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>Eliminate.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1669},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>EmptyCombo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1967},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>FlashBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1125},{369,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{369,369}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>FlashGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,556},{367,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{367,369}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>FlashYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,927},{367,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{367,367}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>HardButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,392},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>HelpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1496},{74,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,101}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>HomeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1538},{97,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,119}}</string>
                <key>sourceSize</key>
                <string>{97,119}</string>
            </dict>
            <key>Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Lives.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1125},{64,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>MediumButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,310},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>NextRoundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,104},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>PauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1919},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>QuestionBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{859,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{859,124}}</string>
                <key>sourceSize</key>
                <string>{861,126}</string>
            </dict>
            <key>QuickPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>QuitButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,962},{97,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,122}}</string>
                <key>sourceSize</key>
                <string>{97,122}</string>
            </dict>
            <key>ReplayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>ResumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1572},{97,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,119}}</string>
                <key>sourceSize</key>
                <string>{97,119}</string>
            </dict>
            <key>ReviewButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,881},{79,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>SFXOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1669},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>SFXOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ScoresButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1374},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
            <key>SettingsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1578},{89,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,104}}</string>
                <key>sourceSize</key>
                <string>{91,106}</string>
            </dict>
            <key>SkipButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1871},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>StatsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,105}</string>
            </dict>
            <key>StatsButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1292},{265,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,80}}</string>
                <key>sourceSize</key>
                <string>{265,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ButtonsEffects-hd.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54d1013afa6d5c2050953dad4c116ea1$</string>
            <key>textureFileName</key>
            <string>ButtonsEffects-hd.pvr</string>
        </dict>
    </dict>
</plist>
