<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5050.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,603},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>AButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{363,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,50}}</string>
                <key>sourceSize</key>
                <string>{363,50}</string>
            </dict>
            <key>AchievementsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,232},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>AdmitOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>AlertBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{326,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,174}}</string>
                <key>sourceSize</key>
                <string>{326,174}</string>
            </dict>
            <key>BButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{363,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,50}}</string>
                <key>sourceSize</key>
                <string>{363,50}</string>
            </dict>
            <key>BGMOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,806},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BGMOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,970},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,817},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>BlankTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{274,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,120}}</string>
                <key>sourceSize</key>
                <string>{274,120}</string>
            </dict>
            <key>CButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{363,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,50}}</string>
                <key>sourceSize</key>
                <string>{363,50}</string>
            </dict>
            <key>CategoryReviewBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,644},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,160}}</string>
                <key>sourceSize</key>
                <string>{158,160}</string>
            </dict>
            <key>Combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{27,28}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>Combo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,806},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,603},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,848},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,848},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,987},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,987},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,987},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,793},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>Combo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,769},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>ConfirmButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,582},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>Credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,853},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>DButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{363,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,50}}</string>
                <key>sourceSize</key>
                <string>{363,50}</string>
            </dict>
            <key>DeleteButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,932},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>DenyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,97},{49,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,61}}</string>
                <key>sourceSize</key>
                <string>{49,61}</string>
            </dict>
            <key>EasyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,274},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>Eliminate.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,340},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>EmptyCombo.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,358},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>FlashBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,164}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>FlashGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,531},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,164}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>FlashYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,365},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,164}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>HardButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>HelpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,481},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>HomeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,853},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,375},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Lives.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,305},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>MediumButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,316},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>NextRoundButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,84},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>PauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,603},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>QuestionBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{430,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,63}}</string>
                <key>sourceSize</key>
                <string>{430,63}</string>
            </dict>
            <key>QuickPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>QuitButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,520},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ReplayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,32},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>ResumeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,914},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>ReviewButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,878},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>SFXOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,928},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SFXOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,975},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ScoresButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,190},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>SettingsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,975},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>SkipButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,603},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>StatsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,878},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>StatsButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,148},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>StatusBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,28}}</string>
                <key>sourceSize</key>
                <string>{479,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ButtonsEffects.pvr</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91433b2df3a59c554300c1a14b194bf0$</string>
            <key>textureFileName</key>
            <string>ButtonsEffects.pvr</string>
        </dict>
    </dict>
</plist>
