<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Countdown_Action.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{454,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{454,122}}</string>
                <key>sourceSize</key>
                <string>{460,122}</string>
            </dict>
            <key>Countdown_Comedy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{594,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,163}}</string>
                <key>sourceSize</key>
                <string>{594,163}</string>
            </dict>
            <key>Countdown_Drama.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{453,120}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{453,120}}</string>
                <key>sourceSize</key>
                <string>{461,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CategoryText.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb895a09988c8f4f61bdd37688de0f2$</string>
            <key>textureFileName</key>
            <string>CategoryText.pvr.ccz</string>
        </dict>
    </dict>
</plist>
