<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{3,696}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{3,696}}</string>
                <key>sourceSize</key>
                <string>{13,696}</string>
            </dict>
            <key>grain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{413,327}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{413,327}}</string>
                <key>sourceSize</key>
                <string>{429,343}</string>
            </dict>
            <key>grain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{362,307}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{362,307}}</string>
                <key>sourceSize</key>
                <string>{382,343}</string>
            </dict>
            <key>grain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,336},{329,276}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,16},{329,276}}</string>
                <key>sourceSize</key>
                <string>{409,306}</string>
            </dict>
            <key>grain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,667},{272,250}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,26},{272,250}}</string>
                <key>sourceSize</key>
                <string>{316,298}</string>
            </dict>
            <key>grain5.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2},{357,225}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{357,225}}</string>
                <key>sourceSize</key>
                <string>{375,253}</string>
            </dict>
            <key>grain6.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,229},{341,275}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{341,275}}</string>
                <key>sourceSize</key>
                <string>{373,299}</string>
            </dict>
            <key>grain7.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{332,232}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{332,232}}</string>
                <key>sourceSize</key>
                <string>{356,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grainsSpriteSheet-hd.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16978d1aa14909dc00c62ff1091baaf2$</string>
            <key>textureFileName</key>
            <string>grainsSpriteSheet-hd.pvr</string>
        </dict>
    </dict>
</plist>
