<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackgroundGrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{833,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,242}}</string>
                <key>sourceSize</key>
                <string>{833,242}</string>
            </dict>
            <key>Coming Soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{171,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{171,27}}</string>
                <key>sourceSize</key>
                <string>{173,31}</string>
            </dict>
            <key>Level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,888},{250,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,140}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>Level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,888},{250,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,140}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>Level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{250,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,140}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>LevelSelectBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>LockedLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,644},{250,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,140}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>Now Showing.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{179,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{179,27}}</string>
                <key>sourceSize</key>
                <string>{181,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelSelectSpriteSheet-hd.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2796325df918f88735dde7688d3379e$</string>
            <key>textureFileName</key>
            <string>LevelSelectSpriteSheet-hd.pvr</string>
        </dict>
    </dict>
</plist>
