<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackgroundGrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{416,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,121}}</string>
                <key>sourceSize</key>
                <string>{416,121}</string>
            </dict>
            <key>Coming Soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,0},{86,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,15}}</string>
                <key>sourceSize</key>
                <string>{86,15}</string>
            </dict>
            <key>Level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,443},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>Level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,443},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>Level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>LevelSelectBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>LockedLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,321},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>Now Showing.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,0},{90,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,15}}</string>
                <key>sourceSize</key>
                <string>{90,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelSelectSpriteSheet.pvr</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c050f387ca07d18dec5a20ff1c657f8$</string>
            <key>textureFileName</key>
            <string>LevelSelectSpriteSheet.pvr</string>
        </dict>
    </dict>
</plist>
