<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>Name</key>
	<string>Mark</string>
	<key>Level Completed</key>
	<integer>1</integer>
	<key>Last Played</key>
	<date>2011-08-05T10:54:11Z</date>
	<key>Score</key>
	<string>30</string>
</dict>
</plist>
